<form [formGroup]="taskForm" novalidate (ngSubmit)="onSaveTask()">
    <mat-card class="project-form">
      <mat-card-header>
        <mat-card-title>Add Task</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <div class="row">
          <!-- row -->
  
          <!-- TITLE (title) -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Project Title</mat-label>
            <input matInput type="text" formControlName="title" />
            <mat-error>A title is <strong>required.</strong></mat-error>
          </mat-form-field>
        </div>
        <!-- row -->
  
        <!-- __________________________ -->
  
        <div class="row">
          <!-- row -->
  
          <div class="col">
            <!-- STATUS (status) -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Project Status</mat-label>
              <mat-select matNativeControl formControlName="status">
                <mat-option value="Not Started">Not Started</mat-option>
                <mat-option value="In Development">In Development</mat-option>
                <mat-option value="Completed">Completed</mat-option>
              </mat-select>
              <mat-error
                >A project status is <strong>required.</strong></mat-error
              >
            </mat-form-field>
          </div>
          <!-- row -->
  
          <div class="col">
            <!-- column -->
  
            <!-- CATEGORY (category) -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Project Category</mat-label>
              <mat-select matNativeControl formControlName="category">
                <mat-option value="Tutorial">Tutorial</mat-option>
                <mat-option value="Personal Project">Personal Project</mat-option>
                <mat-option value="GIS Project">GIS Project</mat-option>
              </mat-select>
              <mat-error
                >A project category is <strong>required.</strong></mat-error
              >
            </mat-form-field>
          </div>
          <!-- column -->
        </div>
        <!-- row -->
  
        <!-- __________________________ -->
  
        <div class="row">
          <div class="col">
            <!-- START DATE (startDate) -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Project Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="startDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                >A project start data is <strong>required.</strong></mat-error
              >
            </mat-form-field>
          </div>
          <!-- col -->
  
          <div class="col">
            <!-- LANGUAGE (language) -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Programming Language</mat-label>
              <input matInput type="text" formControlName="language" />
              <mat-error
                >A project language is <strong>required.</strong></mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <!-- row -->
  
        <div class="row">
          <!-- LIVE URL (liveUrl)-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Production URL</mat-label>
            <input matInput type="url" formControlName="liveUrl" />
            <mat-error>A live URL is <strong>required.</strong></mat-error>
          </mat-form-field>
        </div>
        <!-- row -->
  
        <div class="row">
          <!-- GIT URL (gitUrl)-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>GitHub URL</mat-label>
            <input matInput type="url" formControlName="gitUrl" />
            <mat-error>Please provide a project status.</mat-error>
          </mat-form-field>
        </div>
        <!-- row -->
  
        <div class="row">
          <!-- DESCRIPTION (description) -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Project Description</mat-label>
            <textarea matInput rows="10" formControlName="description"></textarea>
            <mat-error>Please provide a project description.</mat-error>
          </mat-form-field>
        </div>
        <!-- row -->
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-flat-button color="primary" type="submit">Add Project</button>
      </mat-card-actions>
    </mat-card>
  </form>